<!DOCTYPE html>
    
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>RIP DFG</title>
    </head>
    <body ng-app='ritoApp'>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '1567474766878274',
              xfbml      : true,
              version    : 'v2.6'
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
        
        <div id='main'>
            <div ng-view></div>
        </div>

        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type='text/javascript' src="js/angular.route.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
